################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RestWithASPNETUdemy/RestWithASPNETUdemy/bin/Debug/net5.0
